/* Meu CSS */
body,
html{
 margin:  0; 
 padding: 0;
 font-size:18px;
}
body{
 background:linear-gradient(to top left, #993399 0%, #ffffcc 100%);
 background-size:100%;
 background-attachment:fixed;
 
	 
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
a, a img{
 text-decoration:none;
 border:none;
}
img{
 max-width:100%;
 height:auto;
}
.principal{
 width: 900;
 color: #444;
 margin: 0 auto;
 font-family:sans-serif;
}
.cabecalho, 
.logo, 
.rodape,
.menu{
 width:100%;
 display:block;
 clear:both;
}
.cabecalho{
 height:100px;
}
.logo-cabecalho{
 float:left;
}
.logo-cabecalho a{
 font-size:30px;
 font-style:italic;
 text-decoration:none;
 color:#000;
 display:block;
 padding:20px 0 0 0;
}
.pesquisa{
 float:right;
 margin-top:40px;
 margin-right:10px;
}
.menu{
 background:#b30086;
}
.menu ul li, 
.menu ul{
 margin:0;
 padding:0;
 list-style:none;
}
.menu ul li{
 display:inline-block;
}
.menu ul li a{
 display:block;
 color:#fff;
 padding:13px 20px;
}
.corpo{
 position:relative;
 overflow:hidden;
}
.artigos{
 float:left;
}
.artigos, .artigos:before{
 width:70%;
}
.artigos:before{
 position:absolute;
 top:0;
 left:0;
 bottom:0;
 background:#fff;
 z-index:-1;
 content:'';
}
.barra-lateral{
 float:right;
}
.barra-lateral, .barra-lateral:before{
 width:25%;
}
.barra-lateral:before{
   content: '';
    position: absolute;
    top: 0;
    bottom: 0;
 right:0;
    z-index: -1;
    background: #ffccf2;
}
.espacamento{
 padding:20px;
}
.rodape{
 padding:20px;
 text-align:center;
}
 .Loga{ position:absolute;
	 top:30px;
	  left:0px;
	  right:30px
	  width:794px;
	  height:105;
	  
  
	 }
	 .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
	 